
# Plex Service
plex.srv {
    reverse_proxy plex:32400
    tls internal
}

# Pihole Service
pihole.srv {
    reverse_proxy pihole:80
    tls internal
}

# Get Certificate
getcert.srv {
    root * /data/certs
    file_server

    tls internal

    redir / /caddy-root.crt 302
}

# MySpeed Service
myspeed.srv {
    reverse_proxy myspeed:5216
    tls internal
}

# Portainer Service
portainer.srv {
    reverse_proxy portainer:9000
    tls internal
}

# Jellyfin Service
jelly.srv {
    reverse_proxy jellyfin:8096
    tls internal
}

# Homepage Service
home.srv {
    reverse_proxy homepage:3000
    tls internal
}